.modal {
    height: 100% !important;
    width: 90%;
}

.demo-gif {
    width: 100%;
    height: 50%; 
    margin: 10px;
    box-shadow: $box-shadow;
}

.button {
    padding: 5px;
}

.demo {
    padding: 5px;
    margin-bottom: 15px;
}
