@import "variables";

body {
    background-color: $background-color;
    color: $text-color;
}

.social-logo {
    height: 75px;
    width: 75px;
    padding: 0;
}

.social-logo-mobile {
    height: 50px;
    width: 50px;
    padding: 0;
}

.main-block {
    margin-top: 3%;
}

.me {
    padding-top: 7%;
}

.profile-photo {
    max-height: 240px;
    max-width: 305px;
}
