@import "variables";

body {
    background-color: $background-color;
    background: url("../images/background-image.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $text-color;
}

.social-logo {
    height: 75px;
    width: 75px;
    padding: 0;
}

.social-logo-mobile {
    height: 50px;
    width: 50px;
    padding: 0;
}

.main-block {
    margin-top: 3%;
}

.me {
    padding-top: 7%;
}

.content {
    box-shadow: $box-shadow;
    background-color: $content-background;
    padding: 5px;
}