@import "variables";
@import "profile";
@import "demos";

body {
    background-color: $background-color;
    background-image: url("../images/background-image.jpeg");
    background-size: cover;
    color: $text-color;
}

